name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Display requirements.txt content
      run: cat requirements.txt

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Check installed packages and mlflow path
      run: |
        echo "--- PIP LIST ---"
        pip list
        echo "--- MLFLOW PACKAGE INFO ---"
        pip show mlflow
        echo "--- TRYING TO FIND MLFLOW TRANSFORMERS PATH ---"
        python -c "import mlflow.transformers; print(mlflow.transformers.__file__)" || echo "MLFLOW.TRANSFORMERS NOT FOUND BY PYTHON"

    
    - name: Download NLTK data
      run: python -m nltk.downloader punkt

    - name: Run tests with pytest
      run: |
        python -m pytest -v